<!-- <div class="container">
    <br><br>
    <div *ngIf="view" style="width: 50%;">
        <div class="centerbar">
            <div class="searchbar-container">
                <input class="searchbar" placeholder="Nombre" [(ngModel)]="filter">
            </div>
            <div class="search" (click)="get_data(filter)"></div>
        </div><br>
        <table style="width: 100%;">
            <tr>
                <th style="width: 15px;">
                    ID
                </th>
                <th style="width: 80px;">
                    NOMBRE
                </th>
            </tr>
        </table>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table>
                    <tr *ngFor="let item of categories;let indice=index" class="row">
                        <td style="width: 15px;">
                            {{item.id_category}}
                        </td>
                        <td style="width: 80px;">
                            {{item.category}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
    </div>
</div> -->
<h1>YA VEREMOS DIJO EL CIEGO</h1>