<div class="container">
    <br><br>
    <div *ngIf="view" style="width: 50%;">
        <div class="centerbar">
            <div class="searchbar-container">
                <input class="searchbar" placeholder="Nombre" [(ngModel)]="filter">
            </div>
            <div class="search" (click)="get_data(filter)"></div>
        </div><br>
        <table style="width: 100%;">
            <tr>
                <th style="width: 15px;">
                    ID
                </th>
                <th style="width: 80px;">
                    NOMBRE
                </th>
            </tr>
        </table>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table>
                    <tr *ngFor="let item of authors;let indice=index" (click)="edit(item.id_author, indice)" class="row">
                        <td style="width: 15px;">
                            {{item.id_author}}
                        </td>
                        <td style="width: 80px;">
                            {{item.name}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="btn-container">
            <button class="btn" *ngIf="!modify" (click)="edit('new', -1)" style="background-color: #3C4F45;">NUEVO AUTOR</button>
        </div>
    </div>
    <div class="container" style="flex-direction: column; width: 80%;">
        <div *ngIf="register" class="form">
            <div style="margin-left: 10px; width: 100%;">
                <br><br>
                <label style="font-weight: bold;">Datos del Prestamo</label><br><br>
                <label>Nombre</label>
                <div class="input-container">
                    <input class="crud-input" placeholder="Titulo" [(ngModel)]="author">
                </div>
                <br><br>
            </div>
        </div>
        <div class="btn-container" *ngIf="register">
            <div style="display: flex; flex-direction: row; width: 50%;">
                <button class="btn" *ngIf="!modify" (click)="register_author()" style="background-color: #3C4F45;">REGISTRAR AUTOR</button>
                <button class="btn" *ngIf="!modify" (click)="clear_form()" style="background-color: rgb(255, 82, 82);">CANCELAR</button>
                <button class="btn" *ngIf="modify" (click)="delete_author()" style="background-color:rgb(255, 82, 82);">ELIMINAR AUTOR</button>
                <button class="btn" *ngIf="modify" (click)="update_author()" style="background-color:chocolate;">MODIFICAR AUTOR</button>
                <button class="btn" *ngIf="modify" (click)="clear_form()" style="background-color: rgb(255, 82, 82);">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
