
<div class="background-body container">
    <div class="auth-form">
        <br><br>
        <p class="auth-label">Iniciar Sesion</p>
        <br>
        <div class="input-container">
            <input matInput [(ngModel)]="data.email" placeholder="Email" class="auth-input">
        </div>
        <br>
        <div class="input-container">
            <input matInput type="password" [(ngModel)]="data.password" placeholder="Contraseña" class="auth-input">
        </div>
        <div class="left-text">
            <p class="help-text">Olvidaste tu contraseña?</p>
        </div>
        <button class="login-btn" (click)="login()">Iniciar Sesion</button>
        <div class="left-text">
            <p class="help-text">Aun no eres miembro? Unete aqui</p>
        </div>
        <br>
    </div>

</div>

