<div class="back" >
    <div class="background-body"></div>
    <div class="container" (window:resize)="onResize($event)">
        <div class="auth-form">
            <div class="col" *ngIf="showLogin">
                <br><br>
                <div class="logo">BiblioLibo</div>
                <br>
                <div class="input-container">
                    <input matInput [(ngModel)]="data.email" placeholder="Email" class="auth-input">
                </div>
                <br>
                <div class="input-container">
                    <input matInput type="password" [(ngModel)]="data.password" placeholder="Contraseña" class="auth-input">
                </div>
                <div class="left-text" (click)="pr_init()">
                    <p class="help-text url_text">Olvidaste tu contraseña?</p>
                </div>
                <button class="login-btn" (click)="login()">Iniciar Sesión</button>
                <br>
                <div class="center-text" *ngIf="showLoginError" >
                    <p class="error-text">{{loginError}}</p>
                </div>
                <br>
            </div>
            <div class="col" *ngIf="showPR1">
                <br><br>
                <p class="auth-label">Recuperar Contraseña</p>
                <br>
                <div class="left-text">
                    <p class="help-text">Introduce tu Correo o Telefono u Usuario</p>
                </div>
                <div class="input-container">
                    <input matInput type="email" [(ngModel)]="password_recover.email" placeholder="Escribe aqui..." class="auth-input">
                </div>
                <br><br>
                <button class="login-btn" (click)="pr()">Continuar</button>
                <br><br>
            </div>
            <div class="col" *ngIf="showPR2">
                <br><br>
                <p class="auth-label">Recuperar Contraseña</p>
                <br>
                <div class="left-text">
                    <p class="help-text">Si existe una cuenta registrada con ese correo, enviaremos un codigo para verificar que eres el propietario.</p>
                </div>
                <div class="input-container">
                    <input matInput [(ngModel)]="recover_data.token" placeholder="Codigo de Recuperacion" class="auth-input">
                </div>
                <br><br>
                <button class="login-btn" (click)="pr_verify()">Continuar</button>
                <br>
                <div class="center-text" *ngIf="showTokenError" >
                    <p class="error-text">{{tokenError}}</p>
                </div>
                <br>
            </div>
            <div class="col" *ngIf="showPR3">
                <br><br>
                <p class="auth-label">Nueva Contraseña</p>
                <br>
                <div class="left-text">
                    <p class="help-text">Introduce tu nueva Contraseña:</p>
                </div>
                <div class="input-container">
                    <input matInput type="password" [(ngModel)]="rpassword.password" placeholder="Contraseña" class="auth-input">
                </div>
                <br>
                <div class="input-container">
                    <input matInput type="password" [(ngModel)]="rpassword.confirm_password" placeholder="Confirmar Contraseña" class="auth-input">
                </div>
                <br><br>
                <button class="login-btn" (click)="pr_reset()">Continuar</button>
                <br>
                <div class="center-text" *ngIf="showPasswordResetError" >
                    <p class="error-text">{{prError}}</p>
                </div>
                <br>
            </div>
            
        </div>

    </div>
</div>