<div class="topbar">
    <div class="leftbar">
        <p class="title">Bibliolibo</p>
    </div>
    <div class="centerbar">
        <div class="searchbar-container">
            <input class="searchbar">
            <div class="search"></div>
        </div>
    </div>
    <div class="rightbar">
        <div class="user-icon"></div>
    </div>
</div>
<div class="playground">
    <div class="main-container">
        <br><br>
        <div class="row-container">
            <div class="divider">Devoluciones pendientes para hoy (dd/mm/yyyy)</div><hr>
            <br>
            <div class="divider">Libros</div><hr>
            <br>
            <div class="row">
                <div class="big-button">
                    <img src="/src/assets/images/book-loan.png">
                    <p>Prestamo</p>
                </div>
                <div class="big-button">
                    <p>Devolucion</p>
                </div>
                <div class="big-button">
                    <p>Apartados</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="big-button">
                    <p>Libros</p>
                </div>
                <div class="big-button">
                    <p>Autores</p>
                </div>
                <div class="big-button">
                    <p>Generos</p>
                </div>
            </div>
            <br>
            <div class="divider">Alumnos</div><hr>
            <br>
            <div class="row">
                <div class="big-button">
                    <p>Historial</p>
                </div>
                <div class="big-button">
                    <p>Observaciones</p>
                </div>
                <div class="big-button">
                    <p>Cuentas</p>
                </div>
            </div>
            <br>
            <div class="divider">Administracion</div><hr>
            <br>
            <div class="row">
                <div class="big-button">
                    <p>Registro de Acciones</p>
                </div>
                <div class="big-button">
                    <p>Estadisticas</p>
                </div>
                <div class="big-button">
                    <p>Cuentas</p>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>