<div class="container">
    <div class="container" style="flex-direction: column; width: 80%;">
        <br><br><br>
        <h1>¡Bienvenido a Bibliolibo!</h1>
        <br>
        <h3 style="text-align: justify;">
            En Bibliolibo, exploramos el fascinante mundo de las palabras y la imaginación. Nos complace darte la bienvenida a nuestra librería virtual, donde cada página es una puerta a nuevas aventuras, conocimientos y emociones.
            Sumérgete en nuestro extenso catálogo, cuidadosamente seleccionado para satisfacer todos los gustos y edades. Desde clásicos atemporales hasta las últimas novedades, en Bibliolibo encontrarás tesoros literarios que inspirarán tu mente y alimentarán tu espíritu.
            Nuestro objetivo es ser más que una simple librería; queremos ser tu compañero de viaje en el mundo de la literatura. Además de ofrecer una amplia variedad de libros, también proporcionamos reseñas, recomendaciones y eventos para fomentar la pasión por la lectura en nuestra comunidad.
            Explora, descubre y sumérgete en las páginas de Bibliolibo. Ya seas un ávido lector, un buscador de conocimiento o alguien que simplemente disfruta de una buena historia, aquí encontrarás algo especial para ti.
            Gracias por elegir Bibliolibo. ¡Que la magia de la palabra escrita ilumine tu camino!</h3>
    </div>
</div>