<div class="container">
    <br><br>
    <div *ngIf="view">
        <div class="centerbar">
            <div class="searchbar-container">
                <input class="searchbar" placeholder="USUARIO" [(ngModel)]="filter_search">
                <div class="search" (click)="get_data(filter_search)"></div>
            </div>
        </div><br>
        <table class="item-table">
            <tr>
                <th>
                    ID
                </th>
                <th style="width: 100px;">
                    USUARIO
                </th>
                <th style="width: 400px;">
                    REGISTRO
                </th>
            </tr>
            <tr *ngFor="let item of logs;let indice=index" class="row">
                <td>
                    {{item.id_log}}
                </td>
                <td>
                    {{item.user}}
                </td>
                <td>
                    {{item.log}}
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>

