<div class="side-container">
    <br>
    <div class="side-button" (click)="route(1)"><p class="side-button-label">Prestamos</p></div>
    <div class="side-button" (click)="route(2)"><p class="side-button-label">Devolucion</p></div>
    <div class="side-button" (click)="route(3)"><p class="side-button-label">Apartados</p></div>
    <div class="side-button" (click)="route(4)"><p class="side-button-label">Libros</p></div>
    <div class="side-button" (click)="route(5)"><p class="side-button-label">Autores</p></div>
    <div class="side-button" (click)="route(6)"><p class="side-button-label">Generos</p></div>
    <hr>
    <div class="side-button" (click)="route(7)"><p class="side-button-label">Historial</p></div>
    <div class="side-button" (click)="route(8)"><p class="side-button-label">Observaciones</p></div>
    <div class="side-button" (click)="route(9)"><p class="side-button-label">Cuentas</p></div>
    <hr>
    <div class="side-button" (click)="route(10)"><p class="side-button-label">Registro de Acciones</p></div>
    <div class="side-button" (click)="route(11)"><p class="side-button-label">Estadisticas</p></div>
    <div class="side-button" (click)="route(12)"><p class="side-button-label">Cuentas</p></div>
</div>
